<!-- partials/about.html -->
<div class="container mx-auto py-20 flex flex-col md:flex-row items-center gap-10 gradient-bg text-black dark:text-white">
  <!-- TEXT SIDE -->
  <div class="md:w-1/2 space-y-4">
    <h2 class="font-inter text-xl text-gray-400">MY NAME IS</h2>
    <h3 class="font-plus text-5xl font-bold">
      <span class="text-black dark:text-offwhite">Hridhya</span>
      <span class="text-primary">Shibu</span>
    </h3>
    <p class="text-black dark:text-white">
      Analyst Programmer and Computer Science graduate from Deakin University, specialising in Data Science. With robust statistical analysis, data manipulation, and visualisation skills, alongside deep proficiency in Python and statistics, I transform complex data into actionable insights. Having led technology projects in healthcare and construction, I've converted consumer feedback into effective, data‑driven solutions. As a proud ambassador for women in STEM, I thrive in collaborative, supportive teams, leveraging advanced analytics to tackle challenges and innovation. Beyond coding, dancing is my passion—a genuine and spark expression of creativity and who I am.
    </p>
  </div>

  <!-- CARD SIDE -->
  <div class="relative w-60 h-72 flex justify-center items-center md:ml-20">
    <!-- DEEPEST CARD: very subtle white, slightly tilted -->
    <div
      class="absolute inset-0 rounded-lg overflow-hidden bg-[#7E74F1] z-40 rotate-6 translate-x-8 -translate-y-8 w-[300px] h-[380px]"
    ></div>

  

    <!-- FRONT CARD: pale-purple, upright -->
    <div
      class="absolute inset-0 rounded-lg overflow-hidden bg-[#EAE6FE] z-40 w-[300px] h-[380px]"
    >
      <!-- PROFILE IMAGE: fills card, cropped top-left -->
      <img
        src="assets/images/profile.png"
        alt="Hridhya Shibu"
        class="w-45 h-50 mt-10 object-cover object-bottom object-right"
      />
    </div>
  </div>
</div>
