<footer class="py-10 text-center gradient-bg">
  <div class="flex justify-center space-x-8 text-2xl mb-4">
    <a href="https://github.com/Hridhyatshibu4" target="_blank" aria-label="Github"><img
        src="assets/images/github-brands.svg"
        alt="Data Science Icon"
        class="w-12 h-12 mx-auto mb-4"
      /></i></a>
    <a href="mailto:hridhyatshibuh4@gmail.com" aria-label="Email"><img
        src="assets/images/envelope-solid.svg"
        alt="Data Science Icon"
        class="w-12 h-12 mx-auto mb-4"
      /></i></a>
    <a href="https://www.linkedin.com/in/hridhyatshibuh4" target="_blank" aria-label="LinkedIn"><img
        src="assets/images/linkedin-in-brands.svg"
        alt="Data Science Icon"
        class="w-12 h-12 mx-auto mb-4"
      /></i></a>
  </div>
  <p class="text-[20px] text-gray-400">© 2025 ‑ HridhyaShibu</p>
</footer>
