<div class="container mx-auto py-20 text-center gradient-bg">
  <h2 class="font-inter text-xl text-gray-400 mb-4">- RESUME</h2>
  <h3 class="font-plus text-3xl font-bold text-offwhite mb-10">Download my resume</h3>
  <a href="assets/HridhyaShibuResume.pdf" target="_blank" class="inline-block bg-offwhite bg-opacity-5 p-10 rounded-lg hover:bg-primary/10 transition">
    <img src="assets/images/cv-icon.svg" alt="CV" class="w-24 mx-auto mb-4">
    <span class="font-plus text-[20px]">Click to open PDF</span>
  </a>
</div>
