<div class="container mx-auto py-20 text-center space-y-10 gradient-bg">
  <div>
    <h2 class="font-inter text-xl text-gray-400">- SKILLS</h2>
    <h3 class="font-plus text-3xl font-bold text-offwhite">Specialized in</h3>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-16 md:gap-24 max-w-7xl mx-auto">
    <!-- Card -->
    <div class="bg-[#EAE6FE] p-6 rounded-lg border border-primary/10">
      <div class="w-12 h-12 mx-auto mb-4 text-primary text-3xl"> <img
        src="/assets/images/skill1.svg"
        alt="Data Science Icon"
        class="w-12 h-12 mx-auto mb-4"
      /></i></div>
      <h4 class="font-plus text-[25px] mb-2">Data Science</h4>
      <p class="text-[20px] leading-relaxed">Python, C#, Machine Learning, NLP, Data Visualization</p>
    </div>
    <!-- Card -->
    <div class="bg-[#EAE6FE] p-6 rounded-lg border border-primary/10">
      <div class="w-12 h-12 mx-auto mb-4 text-primary text-3xl"><img
        src="/assets/images/skill2.svg"
        alt="Software Development Icon"
        class="w-12 h-12 mx-auto mb-4"
      /></div>
      <h4 class="font-plus text-[25px] mb-2">Software Development</h4>
      <p class="text-[20px] leading-relaxed">REST API, SQL, MongoDB, FastAPI, Docker, Azure, AWS</p>
    </div>
    <!-- Card -->
    <div class="bg-[#EAE6FE] p-6 rounded-lg border border-primary/10">
      <div class="w-12 h-12 mx-auto mb-4 text-primary text-3xl"> <img
        src="/assets/images/skill3.svg"
        alt="UI/UX Design Icon"
        class="w-12 h-12 mx-auto mb-4"
      /></div>
      <h4 class="font-plus text-[25px] mb-2">UI/UX Design</h4>
      <p class="text-[20px] leading-relaxed">Blender, Spline, Figma, HTML, CSS</p>
    </div>
  </div>
</div>
